name: Test Workflow

on:
    pull_request:

jobs:
    test-macos:
        name: "Test - MacOS Environment"
        runs-on: macos-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
              with:
                fetch-depth: 0
            
            - name: Setup Golang v1.21.9
              uses: actions/setup-go@v5
              with:
                go-version: '1.21.9'
            
            - name: Setup Python v3.11
              uses: actions/setup-python@v5
              with:
                python-version: '3.11'
            
            - name: Install test dependency
              run: |
                pip3 install requests
            
            - name: MacOS install tmux
              run: brew install tmux

            - name: Run tests
              run: |
                cd tests && ls && python3 -u run.py
            
            - name: Add logs
              if: always()
              run: |
                cd tests && python3 -u pack_node_logs.py
            
            - name: Set timestamp for artifact
              if: always()
              run: echo "TIMESTAMP=$(date -u +'%Y-%m-%dT%H:%M:%SZ')" >> $GITHUB_ENV

            - name: Upload artifacts
              uses: actions/upload-artifact@v4
              if: always()
              with:
                name: artifact-log-${{ env.TIMESTAMP }}
                path: tests/node_logs